<h1>New Pupper!</h1>
<form action="/dogs" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name">
  <label for="breed">Breed</label>
  <input type="text" name="breed">
  <input type="submit">
</form>